body {
    background-color: black;
    color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
}

@keyframes borderglow {
    from {stroke: #444444;}
    to {stroke: #cccccc;}
}

.info-title {
    font-weight: bold;
    text-transform: uppercase;
}

.hive-hover {
    display: none;
    margin-left: -1rem;
    margin-top: 1em;
    max-width: 30%;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 3px black, 0 0 5px dimgray;
}

.control-flavor {
    font-size: 0.9rem;
    font-style: italic;
}

.control-info {
    font-weight: bold;
}

.primus, .secundus, .relay {
    animation: borderglow 5s ease infinite alternate;
}

#hex-map {
    display: block;
    margin: 0em auto;
    max-width: 70em;
}
